{% import '@Daddl3ImapSymfony/macro/time.html.twig' as time %}

<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                        {% for address, emails in emailsByAddress %}
                            <li class="clearfix tablinks" onclick="openEmail(event, '{{ address }}')">
                                <div class="about">
                                    <div class="name">{{ address }}</div>
                                    <div class="status"><i
                                                class="fa fa-circle offline"></i> {{ time.time_ago(emails.0.getDate.toDate) }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% for address, emails in emailsByAddress %}
                    <div class="chat tabcontent" id="{{ address }}">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="chat-about">
                                        <h6 class="m-b-0">{{ address }}</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 hidden-sm text-right">
                                    {# maybe add something here? #}
                                </div>
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul class="m-b-0">
                                {% for email in emails %}
                                    <li class="clearfix">
                                        <div class="message-data {{ email.folder.path != 'Sent' ? 'text-right' : '' }}">
                                            <span class="message-data-time">{{ time.german_timestamp(email.getDate.toDate) }}</span>
                                        </div>
                                        <div class="message {{ email.folder.path is not same as 'Sent' ? 'other-message float-right' : 'my-message' }} ">
                                            {{ email.getTextBody | nl2br | replace({'<script>': '', '</script>': ''}) | raw }}
                                            {{ email.getHTMLBody | replace({'<script>': '', '</script>': ''}) | raw }}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <div class="input-group mb-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-send"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter text here...">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<style>
    .tabcontent{animation:fadeEffect 1s}@keyframes fadeEffect{0%{opacity:0}to{opacity:1}}.card{background:#fff;transition:.5s;border:0;margin-bottom:30px;border-radius:.55rem;position:relative;width:100%;box-shadow:0 1px 2px #0000001a}.chat-app .people-list{width:280px;position:absolute;left:0;top:0;padding:20px;z-index:7}.chat-app .chat{margin-left:280px;border-left:1px solid #eaeaea}.people-list{-moz-transition:.5s;-o-transition:.5s;-webkit-transition:.5s;transition:.5s}.people-list .chat-list li{padding:10px 15px;list-style:none;border-radius:3px}.people-list .chat-list li:hover{background:#efefef;cursor:pointer}.people-list .chat-list li.active{background:#efefef}.people-list .chat-list li .name{font-size:15px}.people-list .chat-list img{width:45px;border-radius:50%}.people-list img{float:left;border-radius:50%}.people-list .about{float:left;padding-left:8px}.people-list .status{color:#999;font-size:13px}.chat .chat-header{padding:15px 20px;border-bottom:2px solid #f4f7f6}.chat .chat-header img{float:left;border-radius:40px;width:40px}.chat .chat-header .chat-about{float:left;padding-left:10px}.chat .chat-history{padding:20px;border-bottom:2px solid #fff}.chat .chat-history ul{padding:0}.chat .chat-history ul li{list-style:none;margin-bottom:30px}.chat .chat-history ul li:last-child{margin-bottom:0}.chat .chat-history .message-data{margin-bottom:15px}.chat .chat-history .message-data img{border-radius:40px;width:40px}.chat .chat-history .message-data-time{color:#434651;padding-left:6px}.chat .chat-history .message{color:#444;padding:18px 20px;line-height:26px;font-size:16px;border-radius:7px;display:inline-block;position:relative}.chat .chat-history .message:after{bottom:100%;left:7%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-bottom-color:#fff;border-width:10px;margin-left:-10px}.chat .chat-history .my-message{background:#efefef}.chat .chat-history .my-message:after{bottom:100%;left:30px;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-bottom-color:#efefef;border-width:10px;margin-left:-10px}.chat .chat-history .other-message{background:#e8f1f3;text-align:right}.chat .chat-history .other-message:after{border-bottom-color:#e8f1f3;left:93%}.chat .chat-message{padding:20px}.online,.offline,.me{margin-right:2px;font-size:8px;vertical-align:middle}.online{color:#86c541}.offline{color:#e47297}.me{color:#1d8ecd}.float-right{float:right}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}@media only screen and (max-width: 767px){.chat-app .people-list{height:465px;width:100%;overflow-x:auto;background:#fff;left:-400px;display:none}.chat-app .people-list.open{left:0}.chat-app .chat{margin:0}.chat-app .chat .chat-header{border-radius:.55rem .55rem 0 0}.chat-app .chat-history{height:300px;overflow-x:auto}}@media only screen and (min-width: 768px) and (max-width: 992px){.chat-app .chat-list{height:650px;overflow-x:auto}.chat-app .chat-history{height:600px;overflow-x:auto}}@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1){.chat-app .chat-list{height:480px;overflow-x:auto}.chat-app .chat-history{height:calc(100vh - 350px);overflow-x:auto}}
</style>

<script>
    function openEmail(evt, cityName) {
        // Declare all variables
        let i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
