{% macro time_ago(date) %}
    {% set difference = date.diff("now") %}
    {% set seconds = difference.format('%s') %}
    {% set minutes = difference.format('%i') %}
    {% set hours = difference.format('%h') %}
    {% set days = difference.format('%a') %}

    {% if days > 365 %}
        {% set years = days // 365 %}
        {{ years }} Jahr{{ years > 1 ? 'e' : '' }} her
    {% elseif days > 30 %}
        {% set months = days // 30 %}
        {{ months }} Monat{{ months > 1 ? 'e' : '' }} her
    {% elseif days > 0 %}
        {{ days }} Tag{{ days > 1 ? 'e' : '' }} her
    {% elseif hours > 0 %}
        {{ hours }} Stunde{{ hours > 1 ? 'n' : '' }} her
    {% elseif minutes > 0 %}
        {{ minutes }} Minute{{ minutes > 1 ? 'n' : '' }} her
    {% else %}
        {{ seconds }} Sekunde{{ seconds > 1 ? 'n' : '' }} her
    {% endif %}
{% endmacro %}

{% macro german_timestamp(date) %}
    {% set now = "now"|date("Y-m-d") %}
    {% set emailDate = date|date("Y-m-d") %}

    {% if now == emailDate %}
        Heute, {{ date|date("H:i") }} Uhr
    {% else %}
        {{ date|date("d.m.Y, H:i") }} Uhr
    {% endif %}
{% endmacro %}
